* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: #9f84b4;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100px;
  left: 0;
  top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.sidebar:hover {
  z-index: 1;
  width: 150px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.element {
  margin: 50px 2px 20px 20px;
  padding: 10px;
}
.container {
  display: flex;
  width: auto;
  min-height: 100vh;
  background-color: #d9d9d9;
  margin-left: 100px;
  position: relative;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  margin: auto;
  padding: 30px;
}
.heading {
  font-size: 20px;
}
.detail_row {
  font-size: 18px;
}
.websitename {
  margin: 12px;
  padding: 40px;
  font-size: 32px;
  font-weight: bolder;
}
.details {
  background-color: #9f84b4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: auto;
  height: 100px;
  padding: 10px 30px;
  margin: 30px;
}
th,
td {
  padding: 5px;
}

#top-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding-top: 30px;
}
#add {
  border: 1px solid black;
  display: flex;
  color: rgb(63, 33, 68);
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  font-size: 18px;
}
/* .flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
} */
.employee_flex {
  width: 300px;
  height: 300px;
  background-color: #9f84b4;
  border-radius: 30px;
  margin: 20px 20px 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.space_between {
  margin: 20px;
}
#total {
  background-color: #d9d9d9;
}
div#total {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.total_container {
  background-color: #9f84b4;
}
#employee_card {
  border-top: 3px solid #6734e0;
  display: flex;
  background-color: rgb(223, 169, 100);
  width: 90%;
  height: auto;
  margin: 40px;
  padding: 40px;
  border-radius: 30px;
  flex-direction: column;
}
#employee_card:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.add_emp_button {
  width: 100%;
  height: 42px;
  background: blueviolet;
  border-radius: 9px;
  right: 30px;
}
.search_show {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}
.showbar {
  width: 100%;
  height: 200px;
}
.search_bar {
  width: auto;
  height: 200px;
  float: right;
}
table {
  border: 1px solid black;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  font-weight: bold;
}
th,
td {
  padding: 15px;
}
