* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: #9f84b4;
  display: block;
  position: fixed;
  height: 100%;
  width: 100px;
  left: 0;
  top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* .sidebar .element :hover{
    width: 150px;
    


}  */
.element {
  margin: 50px 2px 20px 20px;
  padding: 0px;
}
.container {
  display: flex;
  width: auto;
  min-height: 100vh;
  background-color: #d9d9d9;
  margin-left: 99px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.content {
  margin: auto;
  padding: 30px;
}
.heading {
  font-size: 20px;
}
/* .detail_row {
  font-size: 18px;
}
th,
td {
  padding: 5px;
} */

.websitename {
  /* margin: 12px;
  margin-left: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 32px;
  font-weight: bolder;
}
.details {
  /* border-radius: 20px;
  display: flex;
  align-items: center;
  min-width: 300px;
  min-height: 400px;
  padding: 5px;
 
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around; */
  margin: 30px;
  padding: 30px;
  background-color: #9f84b4;
  border-radius: 30px;
}
.details:nth-child(1) {
  width: 600px;
  height: auto;
}
.details h2 {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 15px;
}

.total_container {
  margin: 2px;
  padding: 20px;
}
