* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: #9f84b4;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100px;
  left: 0;
  top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* .sidebar .element :hover{
    width: 150px;
    


}  */
.element {
  margin: 50px 2px 20px 20px;
  padding: 0px;
}
.container {
  display: flex;
  width: auto;
  min-height: 100vh;
  background-color: #d9d9d9;
  margin-left: 100px;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.content {
  margin: auto;
  padding: 30px;
}
.heading {
  font-size: 20px;
}
.detail_row {
  font-size: 18px;
}
.websitename {
  margin: 12px;
  padding: 40px;
  font-size: 32px;
  font-weight: bolder;
}
.details {
  background-color: #9f84b4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: auto;
  height: 100px;
  padding: 10px 30px;
  margin: 30px;
}
th,
td {
  padding: 5px;
}
