* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #9f84b4;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100px;
  left: 0;
  top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* .sidebar:hover {
  width: 150px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
} */

/* .sidebar .element :hover{
    width: 150px;
    


}  */
.element {
  margin: 50px 2px 20px 20px;
  padding: 10px;
}
.container {
  display: flex;
  width: auto;
  min-height: 100vh;
  background-color: #d9d9d9;
  margin-left: 99px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.content {
  margin: auto;
  padding: 30px;
}
.heading {
  font-size: 20px;
}
/* .detail_row {
  font-size: 18px;
}
th,
td {
  padding: 5px;
} */

.websitename {
  /* margin: 12px;
  margin-left: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 32px;
  font-weight: bolder;
  background-color: #d9d9d9;
}
.details {
  /* border-radius: 20px;
  display: flex;
  align-items: center;
  min-width: 300px;
  min-height: 400px;
  padding: 5px;
 
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around; */
  margin: 30px;
  padding: 30px;
  background-color: #9f84b4;
  border-radius: 30px;
  width: 70%;
}

.details:nth-child(1):hover {
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.details h2 {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
}
.project_table {
  display: flex;
  width: 100%;
  height: auto;

  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  height: auto;
  border-collapse: collapse;
  font-weight: bold;
}
th,
td {
  padding: 15px;
}

.total_container {
  margin: 2px;
  padding: 20px;
}
#total {
  background-color: #d9d9d9;
  width: auto;
  height: 400px;
}
div#total {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 10px;
}
.total_container {
  background-color: #9f84b4;
}
.total_container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
